<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=576, user-scalable=no">
    <title>OASIS</title>
    <% Dir.glob("./#{ENV['RACK_ENV']}/css/*.css") do |item_file| %>
    <link rel="stylesheet" href="css/<%= item_file.split('/').last %>">
    <% end %>
    <% Dir.glob("./#{ENV['RACK_ENV']}/js/*.js") do |item_file| %>
    <script src="js/<%= item_file.split('/').last %>"></script>
    <% end %>
  </head>
  <body>
    <script>main('<%= ENV['WS_URL'] %>')</script>
    <div id="ui"></div>
  </body>  
</html>